---
layout: page
---

<p><b>VDS @IEEE VIS 2022</b></p>
<p>Registration at <a href="http://ieeevis.org/year/2022/info/registration/conference-registration"> http://ieeevis.org/year/2022/info/registration/conference-registration </a>.</p>

<span class="time">Sun. Oct 16, 2022, 9am - 12pm (CDT), 2022</span>

<div class="talk">
     <span class="time">9:00am~9:05am CDT</span><div class="ttitle">Opening</div>
     <span class="time">9:05am~9:40am CDT</span><div class="ttitle"> Keynote</div>
     {% include invited_talk.html time="9:05am~9:40am CDT" key="jeandaniel" %}
</div>

<div class="talk">
     <span class="time">09:40am~10:25am CDT</span><div class="ttitle">Paper Session</div>
     {% include paper.html time="9:41am~9:52pm CDT" key="3" %}
     {% include paper.html time="9:52am~10:03pm CDT" key="4" %}
     {% include paper.html time="10:03am~10:14pm CDT" key="5" %}
     {% include paper.html time="10:14am~10:25pm CDT" key="6" %}
</div>


<div class="talk">
     <span class="time">10:25am-10:55am CDT</span><div class="ttitle">Break</div>
</div>

<div class="talk">
     <span class="time">10:55am-12:15am CDT</span><div class="ttitle">Paper Session 2</div>
     {% include paper.html time="10:55am~11:03am CDT" key="7" %}
     {% include paper.html time="11:03am~11:14am CDT" key="8" %}
     {% include paper.html time="11:14am~11:25am CDT" key="9" %}
</div>

<div class="talk">
     <span class="time">11:25am~11:55am CDT</span><div class="ttitle">Keynote 2</div>
     {% include invited_talk.html time="11:25am~11:55am CDT" key="remco" %}
</div> 


<div style="color: rgb(179 174 174);text-decoration: line-through;">

<p><b>VDS @ KDD 2022 (Past)</b></p>
<p>Conference registration at <a href="https://www.kdd.org/kdd2022/registration.html">https://www.kdd.org/kdd2022/registration.html</a>.</p>


<span class="time">Sun. Aug 14, 2022, 1pm - 4:10pm (CDT)</span>
<div class="talk">
     <span class="time">1:00pm~1:10pm CDT</span><div class="ttitle">Opening</div>
     <span class="time">1:10pm~2:10pm CDT</span><div class="ttitle"> Keynote</div>
     {% include invited_talk.html time="1:10pm~2:10pm CDT" key="kalyan" %}
</div>

<div class="talk">
     <span class="time">2:10pm~2:20pm</span><div class="ttitle">Break</div>
</div>

<div class="talk">
     <span class="time">2:20pm~3:00pm CDT</span><div class="ttitle"> Paper Session</div>
     {% include paper.html time="2:20pm~2:40pm CDT" key="1" %}
     {% include paper.html time="2:40pm~3:00pm CDT" key="2" %}
</div>

<div class="talk">
     <span class="time">3:00pm~3:10pm CDT</span><div class="ttitle">Break</div>
</div>

<div class="talk">
     <span class="time">3:10pm~4:10pm CDT</span><div class="ttitle"> Closing Keynote</div>
     {% include invited_talk.html time="3:10pm~4:10pm CDT" key="leo" %}
</div> 
</div>